* {margin:0;padding:0;}

.content{
	width:1920px;
	height:1080px;
	background: black;
}
.img-item{
	position: absolute;
}
.img-big{
	width: 30%;
	height: 30%;
}
.img-small{
	width: 20%;
	height: 20%;
}
.footer-mask{
	width: 1920px;
	height: 50px;
	background: green;
}
.img-display{
	width: 1680px;
	height: 1080px;	
	margin: 0 auto;
	position: relative;
	background: pink;
}
.img-1{
	top:20%;
	left:0;
}

.img-2{
	top:10%;
	left:40%;
}

.img-3{
	top:10%;
	left: 70%;
}

.img-4{
	bottom:15%;
	left: 20%;
}

.img-5{
	bottom:30%;
	right: 400px;
}

.img-6{
	bottom:220px;
	right: 0px;
}