* {margin:0;padding:0;}

.content{
	width:1600px;
	height:900px;
	background: black;
}

.marquee {
  
  overflow: hidden;
  
}

.img-item{
	/*position: absolute;*/
	/*display: none;*/
	background-color: white;
	display: none;
}

.img-small-list {
	width: 1000px;
	margin: 0 auto;
	padding-top: 120px;
	max-height:300px; 
	min-height: 180px;
}

.img-small-list img{
	
}

.img-small{
	width: 75px;
	height: 100px;
	margin-right: 25px;
}

.img-huge-list{
	height: 320px;
	width: 1000px;
	margin: 0 auto;
}

.img-huge{
	width: 150px;
	height: 200px;
	margin-left: 7%;
}

.img-display{
	width: 1600px;
	height: 900px;	
	margin: 0 auto;
	position: relative;
	background:url(../img/back.png);
}
.img-1{
	top:250px;
	left:115px;
	height: 315px;
	width: 315px;
}

.img-2{
	top:227px;
	left:580px;
	width: 275px;
	height: 275px;
}

.img-3{
	top:163px;
	left: 945px;
	height: 335px;
	width: 335px;
}

.img-4{
	top:603px;
	left: 266px;
	height: 338px;
	width: 338px;
}

.img-5{
	top: 608px;
	left: 716px;
	width: 290px;
	height: 290px;
}

.img-6{
	top:558px;
	left:1068px;
	width: 309px;
	height: 309px;
}