* {margin:0;padding:0;}

.content{
	width:1920px;
	height:1080px;
	background: black;
}
.img-item{
	position: absolute;
}

.img-display{
	width: 1512px;
	height: 1080px;	
	margin: 0 auto;
	position: relative;
	background:url(../img/back.jpg);
}
.img-1{
	top:250px;
	left:115px;
	height: 315px;
	width: 315px;
}

.img-2{
	top:227px;
	left:580px;
	width: 275px;
	height: 275px;
}

.img-3{
	top:163px;
	left: 945px;
	height: 335px;
	width: 335px;
}

.img-4{
	top:603px;
	left: 266px;
	height: 338px;
	width: 338px;
}

.img-5{
	top: 608px;
	left: 716px;
	width: 290px;
	height: 290px;
}

.img-6{
	top:558px;
	left:1068px;
	width: 309px;
	height: 309px;
}